


.presentation-competence-container{
    margin-top: 25px;
}


.presentation-competence-container h1 {
    font-size: 2.5em;
    color: #ff4081;
    margin-bottom: 20px;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.project {
    background: #2a2a2a;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    padding: 20px;
    width: 300px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;

    border: 5px double transparent;

    border-image-slice: 1;
    
    animation: gradientAnimation 4s infinite alternate ;
}

.project:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.6);
}

.project h3 {
    font-size: 1.5em;
    color: #ff4081;
    margin-bottom: 10px;
}

.project img {
    width: 100%;
    height: 20rem;
    border-radius: 8px;
    margin-bottom: 15px;
    object-fit: contain;
}

.project p {
    font-size: 1em;
    line-height: 1.6;
}
